<!DOCTYPE html>

<html   xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="layout"
        lang="en">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"/>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <title>Authentification</title>
</head>

<body>

<div layout:fragment = "content">

    <div class="container">
        <div class="row justify-content-center">
            <div id="contenaireOuvrageDetail" class="col col-md-5">

                <form th:action="@{/login}" method="post">

                    <div th:if="${accessConflict == 'CONFLICT'}"  class="alert alert-danger" role="alert">
                        Votre mot de passe ou votre email semble erroné...
                    </div>

                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" name="username" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email"/>
                    </div>

                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password"/>
                    </div>

                    <button type="submit" class="btn btn-dark" style="width: 100%">Submit</button>
                </form>
            </div>
        </div>
    </div>

</div>

</body>

</html>