<!DOCTYPE html>

<html   xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="layout"
        lang="en">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"/>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <title>Compte</title>
</head>

<body>

<div layout:fragment = "content">

    <div class="container-fluid">
        <div class="row">

            <div th:replace="/fragments/menuCompte :: menuCompte"></div>

            <div class="col col-md-10 ouvrageList">

                <th:block th:if="${statut == 'SUCCESS'}">
                    <div style="text-align: center">
                        <h2></h2>

                        <h2 class="rouge" th:text="'Réservation supprimer : ' + ${ouvrageType.getTitre()}"></h2>
                        <hr/>

                        <div class="row justify-content-start" style="margin-left: 15%">

                            <table class="table table-hover table-striped col col-md-9">
                                <thead class="bg-success">
                                <tr style="text-align: center">
                                    <th scope="col">STATUT</th>
                                </tr>
                                </thead>

                                <tbody>
                                <tr style="text-align: center">
                                    <th>Votre réservation de l'ouvrage "<span th:text="${ouvrageType.getTitre()}"></span>", à bien été supprimer</th>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </th:block>
            </div>
        </div>
    </div>

</div>

</body>
</html>