<!DOCTYPE html>

<html   xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorator="layout"
        lang="en">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"/>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <title>Menu compte</title>
</head>

<body>

<div th:fragment="menuCompte" class="col col-md-2 stylLigneVerticaleDroite" style="height: 1000px">

    <a class="btn btn-light navMenuCompte" href="#" th:href="@{/infoPerso(compteId=${session.user.getUserId()})}">MES INFOS PERSO</a>
    <hr/>
    <a class="btn btn-light navMenuCompte" href="#" th:href="@{/emprunt}">MES EMPRUNTS</a>
    <hr/>
    <a class="btn btn-light navMenuCompte" href="#" th:href="@{/mesReservations}">MES RESERVATIONS</a>
    <hr/>

</div>

</body>
</html>