<!DOCTYPE html>

<html   xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="layout"
        lang="en">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"/>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <title>ouvrage</title>
</head>

<body>

<div layout:fragment = "content">

    <div id="contenaireOuvrageDetail" class="container-fluid">

        <div class="row">
            <div th:replace="/fragments/menuOuvrage :: menuOuvrage"></div>

            <div class="cok col-md-10">
                <h3 th:text="${ouvrageDetail.getTitre()}"></h3>
                <h4 th:text="${ouvrageDetail.getAuteur()}"></h4>
                <hr/>

                <div class="row">
                    <div class="col col-md-5">
                        <th:block th:each="photo : ${ouvrageDetail.getPhotos()}">
                            <p><img id="imageDetail" th:src="@{'/image/' + ${photo.getUrlPhoto()}}"></p>
                        </th:block>
                    </div>

                    <div id="resumer" class="col col-md-5 ligneVerticaleGauche">
                        <h6>Résumer : </h6>
                        <p th:text="${ouvrageDetail.getResumer()}"></p>
                        <hr/>
                        <p th:text="'Editeur : ' + ${ouvrageDetail.getEditeur()}"></p>
                        <p th:text="'Genre : ' + ${ouvrageDetail.getGenre()}"></p>
                        <p th:text="'EAN : ' + ${ouvrageDetail.getRef()}"></p>
                        <hr/>

                        <h3>Livre disponible en bibliotheque</h3>
                        <p></p>
                        <th:block th:if="${livreTypeListDispo.size() > 0}">
                            <p>Pour cette ouvrage <span th:text="${#arrays.length(livreTypeListDispo)} + '/'
                        + ${(ouvrageDetail.getLivres().size())}"></span> livre(s) sont disponible(s)</p>
                            <th:block th:each="livre : ${livreTypeListDispo}">
                                <p th:text="'Référence du livre : ' + ${livre.getRefBibliotheque()}"></p>
                            </th:block>
                        </th:block>
                        <th:block th:if="${livreTypeListDispo.size() == 0}">
                            <p>Aucun livre n'est actuellement disponible pour cet ouvrage !</p>
                        </th:block>
                        <hr/>

                        <th:block th:if="${livreTypeListDispo.size() == 0
                                        && ouvrageDetail.getLivres().size() * 2 > reservationTypeList.size() && dejaEmprunter}">
                            <h3>Réservation</h3>

                            <table class="table">
                                <tbody>
                                <tr>
                                    <td style="vertical-align: middle" >
                                        <p th:text="'Cette ouvrage ne sera pas disponible avant le '
                                        + ${dateRetour}">
                                        </p>

                                        <p>Vous avez la possiblitées de réserver l'ouvrage !</p>
                                        <p th:text="'Il reste encore ' + ${ouvrageDetail.getLivres().size() * 2 - reservationTypeList.size()}
                                        + ' place(s) dans la liste d\'attente.'">
                                        </p>
                                    </td>

                                    <td style="vertical-align: middle" >
                                        <th:block th:if="${livreTypeListDispo.size() == 0
                                        && ouvrageDetail.getLivres().size() * 2 > reservationTypeList.size()}">
                                            <p style="text-align: center">
                                                <a class="btn btn-success" href="#" th:href="@{/templates/reservation(ouvrageId=${ouvrageDetail.getId()})}">Réservation</a>
                                            </p>
                                        </th:block>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </th:block>

                        <th:block th:if="${!dejaEmprunter}">

                            <h3>Réservation</h3>

                            <table class="table">
                                <tbody>
                                <tr>
                                    <td style="vertical-align: middle" >
                                        <h5>Vous avez déjà fait une demande de réservation pour cette ouvrage !</h5></br>
                                        <p style="text-align: center">
                                            <a style="width: 45%" class="btn btn-info" th:href="@{/ouvrages}">RETOUR A LA LISTE DES OUVRAGES</a>
                                        </p>
                                        <p style="text-align: center">
                                            <a style="width: 45%" class="btn btn-warning" href="#" th:href="@{/mesReservations}">VOIR MES RESERVATIONS</a>
                                        </p>

                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </th:block>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>

</html>